name: Release

on:
  push:
    tags:
      - v*.*.*

jobs:
  test:
    name: Test, Build and Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a
      - uses: DeterminateSystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Test
        run: nix develop --accept-flake-config --command -- cargo test --all-features
        timeout-minutes: 15

      - name: Build
        id: build
        run: |
          echo "CI_RELEASE_VERSION=\"${GITHUB_REF_NAME}\"" > env-input.toml
          nix build --accept-flake-config . .#windows .#linux .#deb --override-input build-env "file+file://$PWD/env-input.toml"
        timeout-minutes: 15

      - name: Finalize artifacts
        run: |
          ./.github/workflows/finalize-artifacts.sh
          nix develop --accept-flake-config --command -- 7z a noita-utility-box-windows noita-utility-box.exe

      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
        with:
          name: Release ${{ github.ref_name }}
          draft: true
          files: |
            noita-utility-box-windows.7z
            noita-utility-box.deb
            noita-utility-box-linux-generic.tar.gz
